/*Bootstrap Change*/

.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
    border: none;
}

/*End Bootstrap Change*/


html, body, form, fieldset, table, tr, td, img {
    margin: 0;
    padding: 0;
    font: 'Source Serif Pro','cambria',serif;
}

/*NAV*/
/*.navbar-collapse{
	height: 7em;
}*/

.navbar-light .navbar-nav .nav-link, .dropdown-item{
	font-family:'Tinos';
	color: #E5451F;
	font-weight: 700;
	font-style: italic;
}

.navbar li{
	margin: 0 2em 0 2em;
	list-style-type: square;
	color: #E5451F;
}

.dropdown-menu{
	margin-left: -1.2em;
}

/*END NAV*/


h1, .word {
	color: #E5451F;
	font-weight: 700;
	font-style: italic;
	font-family:'Tinos';
}

.word{
	
}

a.word:hover{
	text-decoration: none;
	color:#ED8267;
}

em.cat{
	display: block;
	font-weight: 400;
	font-size: 0.8em;
	font-style: italic;
}

dt{font-family: "Tinos"; font-size: 1.2em;}