---
layout: default
---
<h1>Traduction Lachal / Français&nbsp;: {{ site.words | size }} mots</h2>
{% if page.categorie != "" %}
<h2>Catégorie&nbsp;: {{ page.categorie }}</h2>
{% endif %}

La définition jointe est incomplète.
Cliquez sur le mot pour ouvrir une nouvelle page affichant plus d'informations et des exemples.

<dl>
{% assign current_section = "" %}
{% for word in site.words %}
	{% if page.categorie == "" or word.categories contains page.categorie %}
		{% include get_first_letter.html %}
		{% if first_letter != current_section %}
			<h2>{{ first_letter }}</h2>
			{% assign current_section = first_letter %}
		{% endif %}

		{% include word_excerpt.html word=word %}
	{% endif %}
{% endfor %}
</dl>
