---
layout: default
---

<h1>{{ page.categorie }}</h1>

La définition jointe est incomplète.
Cliquez sur le mot pour ouvrir une nouvelle page affichant plus d'informations et des exemples.

<dl>
{% assign current_section = "" %}
{% for word in site.words %}
	{% if word.categories contains page.categorie %}
    {% assign word_section =  word.title | slice: 0,1 | upper %}
    {% if word_section != current_section %}
      <h2>{{ word_section }}</h2>
      {% assign current_section = word_section %}
    {% endif %}

		{% include word_excerpt.html %}
	{% endif %}
{% endfor %}
</dl>
