<!DOCTYPE html>
<html>
<head>
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
	});
	</script>
	<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

	{% if page.canonical != blank %}
	<link rel="canonical" href="{{ page.canonical }}" />
	{% endif %}
	<link rel="stylesheet" type="text/css" href="/design/design.css" />
	<title>{{ page.title }}</title>
</head>
<body>
<header>
<ul>
	<li><a href="{{ site.github.url }}/presentation">Présentation</a></li>
	<li><a href="{{ site.github.url }}/">Tous les mots</a></li>
	<li>Catégories
	<ul>
		<li><a href="{{ site.github.url }}/categorie/rhetorique">Rhétorique</a></li>
		<li><a href="{{ site.github.url }}/categorie/acronyme">Acronymes</a></li>
		<li><a href="{{ site.github.url }}/categorie/neologisme_lachalien">Néologismes lachalien</a></li>
		<li><a href="{{ site.github.url }}/categorie/mot_complexe">Mots complexes</a></li>
		<li><a href="{{ site.github.url }}/categorie/citation_latine">Citations latines</a></li>
	</ul>
	<li><a href="{{ site.github.url }}/rubrique">Toutes les expressions</a></li>
	<li><a href="{{ site.github.url }}/contributeurs">Contributeurs</a></li>
</ul>
</header>
{{ content }}
</body>
</html>
