<!DOCTYPE html>
<html>
<head>
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
	});
	</script>
	<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

	{% if page.canonical != blank %}
	<link rel="canonical" href="{{ page.canonical }}" />
	{% endif %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/design/design.css" />
	<title>{{ page.title }}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Lachal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a href="{{ site.github.url }}/presentation" class="nav-link">Présentation</a></li>
			<li class="nav-item"><a href="{{ site.github.url }}/" class="nav-link">Tous les mots</a></li>
			<li class="nav-item dropdown">
				<a href="#" role="button" class="nav-link dropdown-toggle" id="menu-categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</a>
				<div class="dropdown-menu" aria-labelledby="menu-categories">
					<a class="dropdown-item" href="{{ site.github.url }}/categorie/rhetorique">Rhétorique</a>
					<a class="dropdown-item" href="{{ site.github.url }}/categorie/acronyme">Acronymes</a>
					<a class="dropdown-item" href="{{ site.github.url }}/categorie/neologisme_lachalien">Néologismes lachalien</a>
					<a class="dropdown-item" href="{{ site.github.url }}/categorie/mot_complexe">Mots complexes</a>
					<a class="dropdown-item" href="{{ site.github.url }}/categorie/citation_latine">Citations latines</a>
				</div>
			</li>
			<li class="nav-item"><a class="nav-link" href="{{ site.github.url }}/rubrique">Toutes les expressions</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ site.github.url }}/contributeurs">Contributeurs</a></li>
		</ul>
	</div>
</nav>

<div class="container-fluid">
	{{ content }}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>
