---
layout: default
---

<dl>
<dt><h1>{{ page.title }}</h1></dt>

{% if page.categories != empty %}
<em>Catégorie : {{ page.categories | join: ', '}}</em>
{% endif %}

<h2>Définition</h2>
{{ content }}

<h2>Synonymes :</h2>
<ul>
{% for synonym in page.synonyms %}
	<li>{{ synonym }}</li>
{% endfor %}
</ul>
<h2>Exemples d'utilisation</h2>
<ul>
{% for example in page.examples %}
	<li>{{ example }}</li>
{% endfor %}
</ul>

<p>Pour plus d'informations: <a href="{{ page.link }}">{{ page.title }}</a>
</dd>
</dl>
</body>
</html>
