---
layout: default
---

<dl>
<dt><h1>{{ page.title }}</h1></dt>
{% include display_category.html categories=page.categories %}

<h5>Définition</h5>
{{ content }}

<h5>Synonymes :</h5>
<ul>
{% for synonym in page.synonyms %}
	<li>{{ synonym }}</li>
{% endfor %}
</ul>
<h5>Exemples d'utilisation</h5>
<ul>
{% assign lower_word = page.word | downcase %}
{{ word }}
{% for example in site.data.examples %}
  {% assign lower_example = example.example | downcase %}
  {% if example.words contains page.word or lower_example contains lower_word %}
	<li>{{ example.example }}</li>
  {% endif %}
{% endfor %}
</ul>

<p>Pour plus d'informations&nbsp;: <a href="{{ page.link }}">{{ page.title }}</a>
</dd>
</dl>
<a class="btn" href="/">Retour à l'accueil</a>
