---
layout: default
---

<dl>
<dt><h2>{{ page.title }}</h2></dt>
{% include display_category.html categories=page.categories %}

<h5>Définition</h5>
{{ content }}

<h5>Synonymes :</h5>
<ul>
{% for synonym in page.synonyms %}
	<li>{{ synonym }}</li>
{% endfor %}
</ul>
<h5>Exemples d'utilisation</h5>
<ul>
{% for example in page.examples %}
	<li>{{ example }}</li>
{% endfor %}
</ul>

<p>Pour plus d'informations&nbsp;: <a href="{{ page.link }}">{{ page.title }}</a>
</dd>
</dl>
<button type="button" class="text-center" onClick="history.go(-1);return true;">Précédent</button>
</body>
</html>
